.nov-figure-hero {
  height: 33vh;
  @include s {
    height: 500px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
  }
  + .uk-container {
    @include s {
      margin-top: 350px;
    }
  }
}
.hero-logo {
  max-height: 150px;
  max-width: 420px;
  padding: 20px;
  @include m {
    max-height: 200px;
  }
}
