.uk-nav-primary > li > a {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.uk-parent.uk-open > a > i {
  transform: rotate(180deg);
}


.uk-nav-default > li > a  {
  display: flex;
  align-items: center;
  i {
    margin-right: 5px;
  }
}